<div class="section2">
    <mat-grid-list cols="7" rowHeight="100px" [gutterSize]="'10px'" >
        <mat-grid-tile *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background] ="tile.color"
        >
        <div class="cards">
         <img src="{{tile.img}}">
         <h2>{{tile.title}} </h2>
         <h3>{{tile.desc}}</h3> 
         <div class="btnbox">
         <input type="submit" value="Submit" id="submitbtn" [(ngModel)] = "tile.title">
         <button id="loginBtn" type="submit" [routerLink]="['/Wishlist']"  mat-raised-button color="#3232a8">WishList</button>
         <button id="loginBtn" type="submit" (click)="addCompletelist()" mat-raised-button color="#3232a8">Complete</button>
         </div>
        </div>
        </mat-grid-tile>
        
      </mat-grid-list>
    </div>
